<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>224664773282-t207i4kom6ammgmdrd6l0ehpe8egp4o7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.224664773282-t207i4kom6ammgmdrd6l0ehpe8egp4o7</string>
	<key>API_KEY</key>
	<string>AIzaSyA4mq1THm_eZhnWjy6sT5-HwiS8aM5e8vA</string>
	<key>GCM_SENDER_ID</key>
	<string>224664773282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hobbyMate</string>
	<key>PROJECT_ID</key>
	<string>hobby-mate-40752</string>
	<key>STORAGE_BUCKET</key>
	<string>hobby-mate-40752.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:224664773282:ios:b09c81643ffc479fed6dfb</string>
</dict>
</plist>